
#contenedorHeader{
    border-bottom: 1px solid rgb(6, 6, 6)
}

main{
    margin-top: 40px;
    overflow: hidden;
}

nav{
    line-height: 30px;
    width: 150px;
    float: left;
}

nav a{
    color: rgb(6, 6, 6);
}

section{
    line-height: 27px;
    border-left: 2px solid rgba(6, 6, 6, 0.1);
    width: 610px;
    float: right;
}

#wrapper{
    margin: 50px;
}

footer{
    border-top: 1px solid rgb(7, 7, 7, 0.5);
    overflow: hidden;
}

footer img{
    float: left;
}

footer div {
    float: right;
    font-weight: bold;
    color: white;
    line-height: 20px;
    padding: 20px 30px 20px 0px;
    text-align: right;
}

article img {
    margin-left: 10px;
    width: 250px;
    float: right;
    border: 2px solid rgba(6, 6, 6, 0.1);
    border-radius: 5px;
}
article a{
    color: rgb(6, 6, 6);
    font-weight: bold;
}

ul{
    padding-inline-start: 15px;
}

ul li {
    margin-bottom: 15px;
    list-style-type: none;
}

footer img {
    width: 250px;
}

footer {
    padding: 20px;
    background-color: #BDBDBD;
    overflow: hidden;
}

body{
    font-family: 'Raleway', sans-serif;
    width: 960px;
    margin: 50px auto;
    border: 1px solid rgb(6, 6, 6);
}

article{
    font-size: 16px;
    margin-left: 30px;
}

a{
    text-decoration: none;
}

footer div a {
    color: white;
}

section article h3{
    font-weight: 900;
}

#formulario{
    float: right;
    color: #EEECFF;
    font-weight: bold;
    font-style: italic;
    background-color: #E1A701;
}




